@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-spin-1 {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-updown {
  animation: updown 3s linear infinite;
}

@keyframes updown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

.dot::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  left: 0;
  background-color: white;
  animation: move-dot 2s linear infinite;
}

@keyframes move-dot {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(70px);
  }
}
